        p {
          color: blue;
          display: inline;
      }

        #grid {
          display: grid;
          width: 800px;
          max-width: 800px;
          height: 800px;
          max-height: 800px;
          line-height: 0;

        }

        .gridBox {
          border:  1px solid black;
          background-color: lightgrey
        }
