p {
  color: blue;
  display: inline;
}

#grid {
  display: grid;
  width: 940px;
  max-width: 940px;
  height: 940px;
  max-height: 940px;
  line-height: 0;

}

.gridBox {
  width: auto;
  border:  1px solid black;
  background-color: lightgrey
}
